<% IF paste %>
    <h1><% paste.name %></h1>
    <h6>Brought upon an unsuspecting world <% paste.date_created %></h6>
    <br />
    <pre <% UNLESS paste.syntax == 'txt' %>class="prettyprint lang-<% paste.syntax %> shadow"<% END %>><% paste.code %></pre>
    <p>
        <a style="float:right" title="Careful! This will delete without mercy" class="tippy-top btn btn-danger" href="<% c.uri_for(c.controller('Paste').action_for('delete'), [ paste.id ]) %>"><i class="icon-remove icon-white"></i> Delete</a>
    </p>
<% ELSE %>
    <h1>Sorry coder, </h1>
    <h3>... but your paste is in another castle</h3>
<% END %>
