
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><% title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/img/paste.ico" rel="icon">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body onload="prettyPrint()">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Pastelyst</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li <% IF section == 'home' %>class="active"<% END %>><a href="/">New Paste</a></li>
              <li <% IF section == 'about' %>class="active"<% END %>><a href="javascript:;" id="about">About</a></li>
              <% IF paste.id %>
              <li class="active dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-pencil icon-white"></i> <% paste.name %> <b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            <li><a href="<% c.uri_for(c.controller('Paste').action_for('add_karma'), [ paste.id]) %>"><i class="icon-ok icon-black"></i> It's good!</a></li>
                            <li><a href="<% c.uri_for(c.controller('Paste').action_for('delete'), [ paste.id ]) %>"><i class="icon-remove icon-black"></i> Delete</a></li>
                            <% IF c.user.username %><li><a href="<% c.uri_for(c.controller('Paste').action_for('save'), [ paste.id ]) %>"><i class="icon-flag icon-black"></i> Save this paste</a></li><% END %>
                        </ul>
                      </li>
              <% END %>
            </ul>
            <ul class="nav pull-right">
              <li>
                <form class="navbar-form" action="/search" method="get">
                  <input type="text" name="q" class="search-query span2" id="search" autocomplete="off" data-provide="typeahead" placeholder="Search...">
                </form>
              </li>
                 <% IF c.user.username %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> <% c.user.name %> <b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            <li><a href="<% c.uri_for(c.controller('Auth').action_for('logout')) %>">Logout</a></li>
                        </ul>
                 <% ELSE %>
                    <li>
                    <a id="showLogin" href="javascript:;" >Login</a>
                 <% END %>
                </li>
            </ul>
            <!-- <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p> -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <% IF status_msg %><div class="alert alert-success"><% status_msg | none %></div><% END %>
      <% IF error_msg %><div class="alert alert-error"><% error_msg | none %></div><% END %>
      <% IF info_msg %><div class="alert alert-info"><% info_msg | none %></div><% END %>
      <div class="row-fluid">
        <div class="span10">
            <% content | none %>
        </div>
        <div class="span2">
          <div class="well shadow sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Recent pastes</li>
                <% IF recent_pastes %>
                    <% FOREACH paste IN recent_pastes %>
                        <li><a class="tippy" title="Created <% paste.date_created %>" href="/<% paste.id %>"><% paste.name %></a></li>
                    <% END %>
                <% ELSE %>
              <li>No recent pastes :-(</li>
                <% END %>
            </ul>
          </div><!--/.well -->

          <div class="well shadow sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Karmatic pastes</li>
                <% IF karma_pastes %>
                    <% FOREACH paste IN karma_pastes %>
                        <li><a class="tippy" title="Karma: <% paste.karma %>pts" href="/<% paste.id %>"><% paste.name %></a></li>
                    <% END %>
                <% ELSE %>
              <li>No karmatic pastes :-(</li>
                <% END %>
            </ul>
          </div><!--/.well -->

         <div class="well shadow sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Saved pastes</li>
                    <% IF c.user.username %>
                        <% IF saved_pastes.count > 0 %>
                            <% WHILE (paste = saved_pastes.next)  %>
                                <li><a class="tippy" title="Created <% paste.paste.date_created %>" href="/<% paste.paste.id %>"><% paste.paste.name %></a></li>
                            <% END %>
                        <% ELSE %>
                            <li>You have no saved pastes.</li>
                        <% END %>
                    <% ELSE %>
                    <a href="<% c.uri_for(c.controller('Auth').action_for('signup')) %>">Sign up to Pastelyst to save pastes</a>
                    <% END %>
                </li>
            </ul>
        </div>
          <ul class="nav nav-pills">
            <li class="dropdown" id="menu1">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Style <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="<% c.uri_for(c.controller.action_for('style')) %>/light">Light</a></li>
                <li><a href="<% c.uri_for(c.controller.action_for('style')) %>/dark">Dark</a></li>
              </ul>
            </li>
          </ul>

        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <div class="well">
            <p>Pastelyst, 2012</p>
        </div>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <% IF c.session.style %>
        <% IF c.session.style == 'light' %>
            <link href="/static/js/prettify/prettify.css" type="text/css" rel="stylesheet" />
        <% ELSIF c.session.style == 'dark' %>
            <link href="/static/js/prettify/sunburst.css" type="text/css" rel="stylesheet" />
        <% END %>
    <% ELSE %>
        <link href="/static/js/prettify/prettify.css" type="text/css" rel="stylesheet" />
    <% END %>
    <!-- <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>-->
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="<% c.uri_for('/static/js/bootstrap.js') %>"></script>
    <script type="text/javascript" src="<% c.uri_for('/static/js/bootstrap-modal.js') %>"></script>
    <script type="text/javascript" src="<% c.uri_for('/static/js/bootstrap-tooltip.js') %>"></script>
    <script type="text/javascript" src="<% c.uri_for('/static/js/bootstrap-dropdown.js') %>"></script>
    <script type="text/javascript" src="<% c.uri_for('/static/js/bootstrap-transition.js') %>"></script>
    <script type="text/javascript" src="/static/js/prettify/prettify.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.tippy').tooltip({ 'placement' : 'left' });
            $('.tippy-top').tooltip({ 'placement' : 'top' });
            $('.alert').click(function() { $(this).fadeOut(300); });
            $('.paste-code').keydown(function (e) {
                if (e.keyCode == 9) {
                    var myValue = "    ";
                    var startPos = this.selectionStart;
                    var endPos = this.selectionEnd;
                    var scrollTop = this.scrollTop;
                    this.value = this.value.substring(0, startPos) + myValue + this.value.substring(endPos,this.value.length);
                    this.focus();
                    this.selectionStart = startPos + myValue.length;
                    this.selectionEnd = startPos + myValue.length;
                    this.scrollTop = scrollTop;

                    e.preventDefault();
                }
            });
            $('#about').click(function() {
                alert("Pastelyst for Catalyst, 2012");
            });

            $('#showLogin').click(function() {
                $('#loginModal').show();
            });
            
            $('.close').click(function() {
                $('.modal').hide();
            });

            // Autocomplete
            var items = [];
            $.getJSON("<% c.uri_for(c.controller('Root').action_for('pastes_json')) %>", function(data) {

                $.each(data, function(key, val) {
                    items.push(val);
                });
            });
            $('#search').typeahead({ source : items });
        });
    </script>
    <% IF paste %>
    <% END %>

    <div class="modal" style="display:none" id="loginModal">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
          <h3>Login to Pastelyst</h3>
        </div>
        <div class="modal-body">
          <p>
              <form action="" method="post" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="login-username">Username</label>
                    <div class="controls">
                        <input type="text" name="login-username" id="login-username">
                    </div>
                </div>
            
                <div class="control-group">
                    <label class="control-label" for="login-password">Password</label>
                    <div class="controls">
                        <input type="password" name="login-password" id="login-password">
                    </div>
                </div>
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" name="login-submit" value="submit">Sign me in</button>
          </form>
        </div>
    </div> 
 </body>
</html>

